
<h3>Thông tin người dùng</h3>
<form asp-action="Checkout" method="post">
    <button type="submit" class="btn btn-outline-light bg-blue">Đặt hàng</button>
    <button type="button" class="btn btn-outline-light bg-blue" id="exitButton">Hủy đặt hàng</button>
</form>
<script>
    
    document.getElementById("exitButton").addEventListener("click", function() {
        window.location.href = "/SeatBookingCart/Index"; // Thay đổi đường dẫn tương ứng với trang chính của bạn
    });
</script>

    
    

